/* root settings */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300&family=Poppins:wght@400;700&display=swap');
@font-face {
    font-family: 'overpass';
    src: url(../../assets/fonts/overpass.ttf);
}

/* nav */
.color-txt-blck {
    color: #000;
  }
  .navbar-light {
    background-color: transparent !important;
    transition: 500ms ease;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-light.scrolled{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: #fff !important;

  }
  .nav-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navbar-nav {
    margin-left: 25px;
  }
  .cont-nav {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-brand {
      padding-top: 0;
      margin-top: -12px;
  }
  .nav-link {
    margin-top: 6px;
    margin-left: 32px;
    font-size: 16.6px !important;
    font-family: 'Poppins', sans-serif;
    color: #000 !important;
    position: relative;
    border-bottom: 2px solid transparent;
  }
  .nav-link:hover,.nav-link:focus,.nav-link:active {
    color: #EF6C7F !important;
  }
  .login-button-navbar {
    border: 2px solid #EF6C7F;
    border-radius: 16px;
    padding:10px 38px !important;
  }
  .img-navbar-user {
    height: 30.5px;
    border-radius: 50px;
  }
  .icon-bar {
    width: 22px; 
    height: 2px;
    background-color: #000;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
  }
  
  .navbar-toggler {
    border: none;
    background: transparent !important;
    outline: none !important;
  }
  
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  
/* nav */

/* hero-section STI */
.pink-bg-hero {
  background-color: #FDF0F2;
}
.backup-box-content-hero {
  margin-left: 183px;margin-top: 270px;max-width: 425px;
}
.title-sti {
  font-family: 'Poppins';font-weight: bold;font-size: 48px;line-height: 1.25;
}
.sub-title-sti {
  font-family: 'Be Vietnam', sans-serif;font-size:17px;
}
.mt-line-hero {
  margin-top:130px;
}
.mt-sti-img {
  margin-top: 110px;
}
.backup-form-hero-sti {
  font-size:24px;font-family: poppins;margin-top:55px;
}
.sub-backup-form-hero-sti {
  max-width: 605px;
}
.pink-text {
  color: #EF6C7F; 
}

.form-hero-sti , .form-hero-sti:hover, .form-hero-sti:active  , .form-hero-sti:focus {
  padding: 27px 20px;
  outline: none;
  box-shadow: none;
  background: #fff !important;
  border: 0px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: poppins;
}
.form-hero-sti::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'be vietnam';
}
.btn-form-hero-sti , .btn-form-hero-sti:focus, .btn-form-hero-sti:active {
  background: #EF6C7F;
  font-family: poppins;
  color:#fff;
  outline: none;
  box-shadow: none;
  padding-right: 50px;
  padding-left: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* hero-section STI */

/* card section */
.backup-card-section {
  background-color: #F1FCFC;
}
.title-card-section {
  font-size: 35px;max-width: 660px;line-height: 1.4;
}
.sub-title-card-section {
  max-width:520px;line-height:1.6;
}
.mt-90-card {
  margin-top:90px;
}
.mt-77-card {
  margin-top:77px;
}
.card-ims {
  border: none;border-radius: 24px;padding: 20px 18px;box-shadow: 0px 7px 16px 0px #CCCCCC26;

}
.title-card-ims {
  font-size: 30px;margin-top: 24px;margin-bottom:16px;
}
.sub-title-card-ims {
  font-size: 16px;
}
.mt-77-card > a {
  font-family:poppins;color:#000;
}
.mt-77-card > a:hover , .mt-77-card > a:focus {
  text-decoration: none;
  color:#EF6C7F;
  transition: all 0.3s ease-in-out;
}
/* card section */

/* CTA */
.backup-cta-sti {
  max-width: 575px;
}
.title-cta-sti {
  font-size:30px;padding-top: 55px !important;
}
/* CTA */

/* STEP */
.sub-step-section {
  padding: 0px 300px;
}
.fsz-30 {
 font-size: 30px;
}
.fsz-16 {
  font-size: 16px;
}
.number-step {
  font-family: 'Poppins';
  font-weight: bold;
  margin-right: 25px;
  color: #EF6C7F;
  background: #FDE2E5;
  padding: 1px 16px;
  border-radius: 100%;
  font-size: 24px;
  width: 40px;
  height: 38px;

}
.title-step {
  font-family: 'Poppins';
  font-size: 17.5px;
  margin-top: 6px;
  color: #EF6C7F;
}
/* STEP */

/* TIM MEDIS SECTION */
.mm-45 {
  margin-top:-45px;
}
.mm-45 > span {
  background: #fff;
  font-family: 'Be Vietnam';
  font-weight: bold;
  padding: 13px 22px;
  border-radius: 12px;
}
/* TIM MEDIS SECTION */