/* root settings */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300&family=Poppins:wght@400;700&display=swap');

/* nav */
.color-txt-blck {
    color: #000;
  }
  .navbar-light {
    background-color: transparent !important;
    transition: 500ms ease;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-light.scrolled{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: #fff !important;

  }
  .nav-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navbar-nav {
    margin-left: 25px;
  }
  .cont-nav {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-brand {
      padding-top: 0;
      margin-top: -12px;
  }
  .nav-link {
    margin-top: 6px;
    margin-left: 32px;
    font-size: 16.6px !important;
    font-family: 'Poppins', sans-serif;
    color: #000 !important;
    position: relative;
    border-bottom: 2px solid transparent;
  }
  .nav-link:hover,.nav-link:focus,.nav-link:active {
    color: #EF6C7F !important;
  }
  .login-button-navbar {
    border: 2px solid #EF6C7F;
    border-radius: 16px;
    padding:10px 38px !important;
  }
  .img-navbar-user {
    height: 30.5px;
    border-radius: 50px;
  }
  .icon-bar {
    width: 22px; 
    height: 2px;
    background-color: #000;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
  }
  
  .navbar-toggler {
    border: none;
    background: transparent !important;
    outline: none !important;
  }
  
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  
/* nav */

/* hero-section STI */
.pink-bg-hero {
  background-color: #FDF0F2;
}
.backup-box-content-hero {
  margin-left: 183px;margin-top: 270px;max-width: 425px;
}
.title-sti {
  font-family: 'Poppins';font-weight: bold;font-size: 48px;line-height: 1.25;
}
.sub-title-sti {
  font-family: 'Be Vietnam', sans-serif;font-size:17px;
}
.mt-line-hero {
  margin-top:130px;
}
.mt-sti-img {
  margin-top: 110px;
}
.backup-form-hero-sti {
  font-size:24px;font-family: poppins;margin-top:55px;
}
.sub-backup-form-hero-sti {
  max-width: 605px;
}
.pink-text {
  color: #EF6C7F; 
}

.form-hero-sti , .form-hero-sti:hover, .form-hero-sti:active  , .form-hero-sti:focus {
  padding: 27px 20px;
  outline: none;
  box-shadow: none;
  background: #fff !important;
  border: 0px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: poppins;
}
.form-hero-sti::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'be vietnam';
}
.btn-form-hero-sti , .btn-form-hero-sti:focus, .btn-form-hero-sti:active {
  background: #EF6C7F;
  font-family: poppins;
  color:#fff;
  outline: none;
  box-shadow: none;
  padding-right: 50px;
  padding-left: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* hero-section STI */

/* card section */
.backup-card-section {
  background-color: #F1FCFC;
}
.title-card-section {
  font-size: 35px;max-width: 660px;line-height: 1.4;
}
.sub-title-card-section {
  max-width:520px;line-height:1.6;
}
.mt-90-card {
  margin-top:90px;
}
.mt-77-card {
  margin-top:77px;
}
.card-ims {
  border: none;border-radius: 24px;padding: 20px 18px;box-shadow: 0px 7px 16px 0px #CCCCCC26;

}
.title-card-ims {
  font-size: 30px;margin-top: 24px;margin-bottom:16px;
}
.sub-title-card-ims {
  font-size: 16px;
}
.mt-77-card > a {
  font-family:poppins;color:#000;
}
.mt-77-card > a:hover , .mt-77-card > a:focus {
  text-decoration: none;
  color:#EF6C7F;
  transition: all 0.3s ease-in-out;
}
/* card section */

/* CTA */
.backup-cta-sti {
  max-width: 575px;
}
.title-cta-sti {
  font-size:30px;padding-top: 55px !important;
}
/* CTA */

/* STEP */
.sub-step-section {
  padding: 0px 300px;
}
.fsz-30 {
 font-size: 30px;
}
.fsz-16 {
  font-size: 16px;
}
.fsz-18 {
  font-size: 18px !important; 
}
.fsz-15 {
  font-size: 15px !important; 
}
.number-step {
  font-family: 'Poppins';
  font-weight: bold;
  margin-right: 25px;
  color: #EF6C7F;
  background: #FDE2E5;
  padding: 1px 16px;
  border-radius: 100%;
  font-size: 24px;
  width: 40px;
  height: 38px;

}
.title-step {
  font-family: 'Poppins';
  font-size: 17.5px;
  margin-top: 6px;
  color: #EF6C7F;
}
/* STEP */

/* TIM MEDIS SECTION */
.mm-45 {
  margin-top:-45px;
}
.mm-45 > span {
  background: #fff;
  font-family: 'Be Vietnam';
  font-weight: bold;
  padding: 13px 22px;
  border-radius: 12px;
}
/* TIM MEDIS SECTION */

/* Testimonial section */
.slide-testi {
background-color: #F1FCFC;
  padding-bottom: 30px;
}
.cs-testi-mb {
  margin-bottom: 30px;
}
.sub-slide-testi {
  margin-bottom: 30px;
}
.backup-testimonial-card {
  padding: 9px;
}
.testimonial-card {
  padding: 30px;
  position: relative;
  background: #fff;
  webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 7px 16px 0px #cccccc26;
  /*     box-shadow: 0px 3px 17px rgba(115, 128, 157, 0.2); */
}
.testimonial-card:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: 45%;
  bottom: -23px;
}
.testimonial-card:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
  border-bottom: 10px solid transparent;
  right: 45%;
  bottom: -18px;
}
.content-testimonial {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing:0.3px;
  color: #000;
  font-family: be vietnam;
  text-align: center;
}
.testi-person {
  padding: 25px 0 0 25px;
  position: relative;
}
.testi-person > img {
  object-fit: cover;
}
.testi-person-detail {
  padding: 15px 0 12px 0;
}
.slick-dots li.slick-active button:before {
  color: #76E5E0 !important;
}
.slick-dots li button {
    opacity: 1 !important;
    color: #CCCCCC !important; 
}
.slick-dots li button:before {
    color: #cccc !important;
    opacity: 1 !important;
}
/* Testimonial section */

/* footer section */
.icon-fanita-footer {
  margin-top: 48px;
}
.border-footer {
  border-bottom:1px solid #E6E6E6;
  margin-top: 22px;
  margin-bottom: 17px;
}
.sub-footer-title {
  font-size: 16px;color:#666666;text-decoration: none;
}
.no-opacity {
  opacity: 0;
}
.text-bottom-footer {
  font-size: 14px;color:#999999;
}
.link-bottom-footer , .link-bottom-footer:hover {
 font-size: 14px;color:#999999;font-weight: bold;text-decoration: none;      
}
/* footer section */



/* media screen */
@media (max-width:1025px) {
  .mt-77-card > a {
    font-size: 15px !important;
  }
}

@media (max-width:770px) {
  .backup-box-content-hero {
    padding: 0px 15px;
    margin-left: 0;
    margin-top: 160px;
  }
  .sub-step-section {
    padding :0px 150px;
  }
}

@media (max-width:767px) {

  /* navbar */
  .navbar-light {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: #fff !important;
  }
  .navbar-nav {
      margin-top:15px;
      margin-bottom: 15px;
  }
  .navbar-brand {
      margin-top: -8px;
  }
  .menu-list-item {
      text-align: center;
      margin-left: 0;
      font-size: 16px !important;
  }
  .text-left-xs {
      text-align: left !important;
  }
  .display-mt-footer {
      margin-top: 60px !important;
  }
  .js-mobile-start {
      justify-content: start !important;
  }

  /* hero-sti */
  .backup-box-content-hero {
    padding: 0px 15px;
    margin-left: 0;
    margin-top: 35px;
  }
  .set-mobile-hero-bg {
    background-image: url(../../assets/img/lp-baru/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .title-sti {
    font-size: 31.5px;
    line-height: 1.3;
  }
  .sub-title-sti {
    font-size: 16px;
  }
  .center-text-xs {
    text-align: center;
  }
  .mt-line-hero {
    margin-top: 12px;
    padding: 0px 30px;
  }
  .backup-form-hero-sti {
    font-size: 18px;
    padding: 0px 25px;
    margin-top: 20px;
  }
  .form-hero-sti, .form-hero-sti:hover, .form-hero-sti:active, .form-hero-sti:focus {
    padding:24px 20px;
    font-size: 15px;
  }
  .mt-group-xs {
    margin-top: 25px !important;
  }
  .img-xs-head {
    width: 177px;
  }

  /* card section */
  .xs-title-card-section {
    font-size: 26px !important;
  }

  /* step section */
  .sub-step-section {
    padding: 0px 15px;
  }
  .number-step {
    font-size: 18px;
    padding:1px 12px;
    height: 30px;
  }

  /* tim medis section */
  .doctor-name-xs {
    background: #fff;
    font-family: 'Be Vietnam';
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 12px;
  }
}

@media (max-width:380px) {
  .img-xs-head {
    width: 137px;
  }
}
@media (max-width:325px) {
  .img-xs-head {
    width: 95px;
  }
}